* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100vh;
  background-color: black;
}

button {
  width: 8rem;
  height: 8rem;
  background-color: brown;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#result {
  color: white;
  font-size: 42px;
}
